.container {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  margin: auto 100px;
}

.row {
  display: flex;
  justify-content: center;
}

.column-fifth {
  width: 20%;
  margin: auto 10px;
}

.text-center {
  text-align: center;
}

span,
del {
  color: lightgrey;
  font-weight: normal;
}

del {
  text-decoration: line-through;
}

[class*="bg-"] {
  height: 380px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-dress {
  background-image: url("images/dress1.jpeg");
}

.bg-ysl-bag {
  background-image: url("images/ysl-bag.jpeg");
}

.bg-key {
  background-image: url("images/key.jpeg");
}

.bg-lv-bag {
  background-image: url("images/lv-bag.jpg");
}

.bg-reform-dress {
  background-image: url("images/dress2.jpeg");
}
