.container {
  max-width: 100%;
  margin: 10px 90px 0;
}

.row {
  display: flex;
}

.column-half {
  width: 50%;
}

.blue-logo {
  width: 54%;
  height: 44%;
  margin: 20px auto auto;
}

.navbar {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: lightslategrey;
  text-align: center;
  padding: 8px;
  margin: 10px;
  text-decoration: none;
  font-weight: 400;
  font-family: Avenir, sans-serif;
}

li:hover {
  background-color: #244264;
  border-radius: 10%;
  height: fit-content;
  width: max-content;
}
