.container {
  max-width: 100%;
  margin: 10px 90px 0;
}

.row {
  display: flex;
}

.column-half {
  width: 50%;
}

.column-full {
  width: 100%;
}

.blue-logo {
  width: 140px;
  height: 80px;
  margin: auto auto auto 120px;
}

.navbar {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: lightslategrey;
  text-align: center;
  padding: 8px;
  margin: 10px;
  text-decoration: none;
  font-weight: 400;
  font-family: Avenir, sans-serif;
}

li:hover {
  background-color: #244264;
  border-radius: 10%;
  height: fit-content;
  width: max-content;
}

.hero-image {
  position: relative;
  background-image: url("images/hero.jpg");
  background-size: cover;
  opacity: 0.9;
  height: 560px;
  width: 82%;
  margin: 60px auto auto;
}

.justify-center {
  justify-content: center;
}

.align-center {
  text-align: center;
}

.hero-image-overlay {
  background: linear-gradient(rgb(0 0 0 / 25%), rgb(0 0 0 / 25%));
  position: absolute;
  height: 560px;
  width: 100%;
}

.hero-image > h1 {
  top: 60px;
  position: absolute;
  left: 80px;
  width: 500px;
  font-family: "Tiempos Headline", sans-serif;
  font-size: 250%;
  font-weight: 500;
}

.hero-image > p {
  top: 190px;
  position: absolute;
  left: 80px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-size: medium;
}

.hero-image > button {
  bottom: 60px;
  position: absolute;
  left: 80px;
  width: 200px;
  height: 60px;
  background-color: #244264;
  border-radius: 5px;
  border: none;
  font-size: large;
}

.white-text {
  color: white;
}
